$body-background-color: #fff;
$side-background-color: #b32b6f;
$side-background-image: 'https://static.tumblr.com/gx7dt5w/VcFn7wxtq/watercolor.jpg';
$text-color: #000;
$side-text-color: #fff;
$selection-color: #cbaedf;
$link-default: #c7316c;
$link-hover: #f75278;
$page-link-default: #942852;
$page-link-hover: $selection-color;
$icon-fill: #9160b4;